// Footer Main start
#footer-main {
    background-color: #172337;
    padding-top: 5em;
    padding-bottom: 5em;
    color: #f1f1f1;
    .footer-kape {
        .footer-logo {
            font-family: $main_font_family;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            a {
                color: #fff;
                text-decoration: none;
                img {
                    max-width: 100%;
                }
            }
        }
        p {
            margin: 0 0 0.6781em;
            font-family: $main_font_family;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
        }
        ul {
             li {
                margin-bottom: 15px;
                display: flex;
                flex-flow: row;
                i {
                    font-size: 16px;
                    padding-right: 14px;
                    margin-top: 4px;
                }
                span {
                    font-family: $main_font_family;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-info-content{
        h2{
            margin-bottom: 1em;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $main_font_family;
            font-weight: 700;
            font-style: normal;
        }
        .footer-info-text{
            ul{
                li{
                    margin-bottom: 15px;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-service-content{
        h2{
            margin-bottom: 1em;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $main_font_family;
            font-weight: 700;
            font-style: normal;
        }
        .footer-service-text{
            ul{
                li{
                    margin-bottom: 15px;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-account-content{
        h2{
            margin-bottom: 1em;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $main_font_family;
            font-weight: 700;
            font-style: normal;
        }
        .footer-account-text{
            ul{
                li{
                    margin-bottom: 15px;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-news{
        margin-bottom: 2.5em;
        h2{
            margin-bottom: 1em;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $main_font_family;
            font-weight: 700;
            font-style: normal;
        }
        .footer-news-letter{
           .footer-subscribe{
            margin-bottom: 1em;
           } 
           form{
              .footer-form{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: .5em;
                p{
                    margin: 0 0 0.6781em;
                    font-family: $main_font_family;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 14px;
                      i{
                        position: absolute;
                        left: 6px;
                        top: 12px;
                        font-size: 18px;
                        color: #555;
                      }
                      input{
                        border-top-width: 1px;
                        border-bottom-width: 1px;
                        border-left-width: 1px;
                        border-right-width: 1px;
                        border-style: solid;
                        border-color: #e9e9e9;
                        color: #777;
                        display: block;
                        line-height: 2;
                        padding: 6px 12px;
                        height: 42px;
                        width: 100%;
                        font-size: 100%;
                        padding-left: 30px;
                      }
                      input[type=submit]{
                          background-color: $main-color;
                          color: #fff;
                          cursor: pointer;
                          display: inline-block;
                          font-size: 14px;
                          font-weight: 600;
                          line-height: 18px;
                          padding: 12px 20px;
                          text-transform: uppercase;
                          border: $main-color;
                          outline: none;
                      }
                      input[type=email]{
                          outline: none;
                      }
                  }
              } 
           }
        }
    }
    .footer-link{
       .social-link{
           a{
            font-size: 14px;
            line-height: 27px;
            width: 30px;
            height: 30px;
            text-decoration: none;
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 7px;
            text-align: center;
           }
           .social-facebook{
            background-color: #385693;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
           .social-twitter{
            background-color: #40BFF5;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
           .social-linkedin{
            background-color: #238CC8;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
           .social-instagram{
            background-color: #D02A52;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
           .social-flickr{
            background-color: #FF0084;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
           .social-rss{
            background-color: #EF8321;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
           .social-youtube{
            background-color: #F90002;
            color: #fff;
            @include transition(all 0.5s ease 0s);
            &:hover{
                opacity: .8;
                @include transition(all 0.5s ease 0s);
            }
           }
       } 
    }
}

// Footer Copyright start
#footer-copyright{
    background-color: #172337;
    padding: 25px 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #454d5e;
    color: #f1f1f1;
    .copyright-text{
        text-align: left!important;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    .copyright-img{
        text-align: right!important;
        img{
         max-width: 100%;
        }
    }
}
