// register start
#register {
    .title-page {
        padding: 10px 0;
        background-color: #f8f8f8;
        text-align: center;
        h1 {
            font-size: 60px;
            line-height: 1.2;
            color: #333;
            text-transform: inherit;
            font-weight: 700;
            font-style: normal;
        }
    }
    .main-content {
        padding-bottom: 38px;
        padding-top: 38px;
        .register-signup {
            background-color: #fff;
            max-width: 695px;
            margin: 0 auto;
            margin-top: 1em;
            box-shadow: 0 0 1px;
            .customer-register {
                display: flex;
                flex-direction: row;
                .register-left {
                    background-color: $main-color;
                    color: #fff;
                    flex: 40%;
                    font-size: 18px;
                    padding: 40px 35px;
                    border: 1px solid $main-color;
                    h2 {
                        color: #fff;
                        font-size: 26px;
                        margin-bottom: 10px;
                        text-transform: inherit;
                        font-weight: 700;
                        font-style: normal;
                    }
                    p {
                        font-weight: 400;
                        font-style: normal;
                        font-size: 14px;
                        margin: 0 0 1.5em;
                        padding: 0;
                    }
                }
                .register-right {
                    flex: 60%;
                    padding: 40px 35px;
                    form {
                        text-align: left;
                        .form-group {
                            display: inherit;
                            padding: 0;
                            margin: 0 0 1em;
                            input {
                                line-height: 2;
                                box-sizing: border-box;
                                width: 100%;
                                margin: 0;
                                outline: 0;
                                border: 1px solid #e9e9e9;
                                color: #777;
                                display: block;
                                padding: 6px 12px;
                                height: 42px;
                                overflow: visible;
                                font-size: 100%;
                            }
                        }
                        .vender-form{
                          label{
                            line-height: 2;
                            color: #333333;
                            display: block;
                            font-weight: 600;
                            margin-bottom: 0.5em;
                             .required{
                                color: red;
                                font-weight: 700;
                                border: 0!important;
                                text-decoration: none;
                                visibility: visible;
                             } 
                          }
                          input{
                                line-height: 2;
                                box-sizing: border-box;
                                width: 100%;
                                margin: 0;
                                outline: 0;
                                border: 1px solid #e9e9e9;
                                color: #777;
                                display: block;
                                padding: 6px 12px;
                                height: 42px;
                                overflow: visible;
                                font-size: 100%;
                          }  
                        }
                        label{
                            color: #333333;
                            display: block;
                            font-weight: 600;
                        }
                        button {
                            background-color: $main-color;
                            color: #fff;
                            width: 100%;
                            text-align: center;
                            border: 0;
                            border-radius: 2px;
                            box-shadow: 0 1px 2px 0;
                            cursor: pointer;
                            display: inline-block;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 18px;
                            padding: 12px 20px;
                            text-transform: uppercase;
                            overflow: visible;
                            outline: none;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}
