// Responsive for Ipad
@media (max-width: 991.98px) {
  // header top start
  #header-top {
    display: none;
  }

  // header serch start
  #header-serch {
    background-color: $main-color !important;
    height: 120px;
    align-items: flex-start !important;
    .mobile-navbar {
      display: block;
    }
    .search {
      position: relative;
      top: 60px;
      left: -10.5rem;
      z-index: 999;
      width: 600px;
      &.onscrol {
        top: 13px;
        left: -8.5rem;
        width: 500px;
      }
    }
    .logo {
      display: none !important;
    }
    .logo-mobil {
      display: block !important;
    }
    .header-account-heart-cart {
      margin-left: 0px !important;
      &.show {
        right: 20px !important;
      }
      i {
        color: white !important;
      }
      small {
        color: #fff;
      }
      .header-account {
        .my-account {
          display: none !important;
        }
      }
      .header-heart {
        position: relative;
        margin-left: 10px !important;
        top: 2px;
        span {
          right: -10px !important;
          top: -10px !important;
          background-color: #fff !important;
          color: $main-color !important;
        }
      }
      .header-cart {
        position: relative;
        top: 3px;
        right: 10px;
        span {
          color: #fff;
        }
        a {
          .cart-icon {
            span {
              background-color: #fff !important;
              color: $main-color !important;
              top: -11px;
            }
          }
        }
      }
    }
  }

  // header page start
  #header-page {
    display: none;
  }

  // fashion start
  #fashion {
    .slider {
      .bg-img {
        height: 350px !important;
        .title {
          &.text-style-right {
            margin-top: 2% !important;
            margin-left: 35% !important;
            h1 {
              font-size: 25px !important;
            }
            p {
              font-size: 23px !important;
              span {
                font-size: 60px !important;
              }
            }
          }
          &.text-style-left {
            h1 {
              font-size: 25px !important;
            }
            p {
              font-size: 30px !important;
              span {
                font-size: 45px !important;
              }
            }
          }
        }
      }
      .owl-nav {
        .owl-next {
          top: 215px !important;
        }
        .owl-prev {
          top: 215px !important;
        }
      }
    }
  }

  // category sliders start
  #category-sliders {
    .category-slider-content {
      .item {
        a {
          .category-slider-img {
            margin-left: 17px;
          }
        }
      }
    }
    .category-corusel {
      display: block !important;
    }
  }

  // product single start
  #product-single {
    .product-sync-init {
      .single-product {
        .product-thumb {
          img {
            height: 300px !important;
          }
        }
      }
    }
    .product-sync-nav {
      .single-product {
        .product-thumb {
          .img-fill {
            height: 60px !important;
          }
        }
      }
    }
    .next {
      display: none !important;
    }
    .prev {
      display: none !important;
    }
    .product-text {
      margin-left: 0 !important;
      .product-title {
        h1 {
          font-size: 17px !important;
        }
      }
      .product-price {
        .price {
          span {
            font-size: 23px !important;
          }
        }
      }
      .add-to-cart {
        .single_add_to_cart_button {
          display: block !important;
          margin-top: 10px !important;
        }
        .single_buy_now_button {
          display: none !important;
        }
      }
      .product-button {
        .random {
          padding-left: 10px !important;
        }
        .size-guide {
          padding-left: 10px !important;
        }
      }
    }
  }

  // product info start
  #product-info {
    .accordition {
      display: block !important;
      .card {
        .card-header {
          padding-left: 0 !important;
          h5 {
            a {
              font-size: 15px !important;
              font-weight: 600 !important;
              text-transform: uppercase !important;
              &:hover {
                color: $main-color;
              }
            }
          }
        }
        .collapse {
          .card-body {
            padding: 0 1.25rem !important;
            .text {
              p {
                margin-top: 20px !important;
              }
            }
            .rating {
              margin-top: 30px !important;
              margin-bottom: 50px !important;
            }
            .review-form {
              margin-top: 30px !important;
            }
          }
        }
      }
    }
    .nav-tabs {
      display: none;
    }
    .tab-content {
      display: none;
    }
    .card {
      .card-body {
        .rating {
          position: relative;
          .rating-histogram {
            position: absolute;
            top: -15px;
            left: 75px;
            width: 263px;
          }
        }
        .review-form {
          margin-left: 76px;
        }
      }
    }
  }

  // related product start
  #related-product {
    .owl-nav {
      .owl-next {
        opacity: 0 !important;
        visibility: hidden !important;
      }
      .owl-prev {
        opacity: 0 !important;
        visibility: hidden !important;
      }
    }
  }

  // login start
  #login {
    .title-page {
      padding-top: 35px !important;
      padding-bottom: 35px !important;
      h1 {
        font-size: 42px !important;
      }
    }
    .main-content {
      .login-signin {
        .customer-login {
          .login-right {
            form {
              .form-group {
                a {
                  margin-left: 27% !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // login start
  #register {
    .title-page {
      padding-top: 35px !important;
      padding-bottom: 35px !important;
      h1 {
        font-size: 42px !important;
      }
    }
  }

  // wishlist start
  #wihslist {
    .title-page {
      h1 {
        font-size: 42px !important;
      }
    }
    .main-content {
      form {
        .wishlist-table {
          display: none !important;
          tbody {
            tr {
              .product-add-to-cart {
                text-align: left !important;
                a {
                  width: 142px !important;
                }
              }
            }
          }
        }
        ul {
          display: block !important;
        }
      }
    }
  }

  // cartlist start
  #cartlist {
    .title-page {
      h1 {
        font-size: 42px !important;
      }
    }
    .main-content {
      .cartlist-table {
        display: none !important;
      }
      ul {
        display: block !important;
      }
      .cart-collaterals{
         .cart-totals{
            float: left !important;
            width: 300px !important;
        } 
      }
    }
  }
}

// Responsive for IPhone
@media (max-width: 767.98px) {
  // header serch start
  #header-serch {
    .logo-mobil {
      img {
        height: 40px !important;
      }
    }
    .header-account-heart-cart {
      position: absolute;
      top: 20px;
      right: 5px;
      .header-cart {
        .cart-content {
          display: none;
        }
      }
    }
    .search-product-icon {
      margin-left: 50px !important;
    }
    .search {
      width: 246px !important;
      top: -4.5px !important;
      left: 0px !important;
      form {
        .select-search {
          width: 100px !important;
        }
      }
    }
    .mobile-navbar {
      a {
        top: 28px !important;
        i {
          font-size: 20px !important;
          z-index: 999;
        }
      }
    }
  }

  // fashion start
  #fashion {
    .slider {
      .bg-img {
        height: 200px !important;
        .title {
          &.text-style-right {
            margin-top: 5% !important;
            margin-left: 35% !important;
            h1 {
              font-size: 10px !important;
            }
            p {
              font-size: 11px !important;
              span {
                font-size: 30px !important;
              }
            }
            a {
              font-size: 8px !important;
              padding: 4px 7px 4px 7px !important;
            }
          }

          &.text-style-left {
            margin-top: 5% !important;
            margin-right: 35% !important;
            h1 {
              font-size: 10px !important;
            }
            p {
              font-size: 15px !important;
              span {
                font-size: 30px !important;
              }
            }
            a {
              font-size: 8px !important;
              padding: 4px 7px 4px 7px !important;
            }
          }
        }
      }
      .owl-nav {
        .owl-next {
          top: 90px !important;
          right: 8px !important;
        }
        .owl-prev {
          top: 90px !important;
          left: 8px !important;
        }
      }
      .owl-dots {
        display: none;
        opacity: 0;
      }
    }
  }

  // category sliders start
  #category-sliders {
    .item {
      a {
        .category-slider-img {
          margin-left: 35px !important;
        }
        .category-slider-text {
          margin-top: 5px !important;
        }
      }
    }
    .owl-nav {
      .owl-next {
        top: 0px !important;
        right: 0px !important;
      }
      .owl-prev {
        top: 0px !important;
        left: 0px !important;
      }
    }
  }

  // products start
  #products {
    .slider {
      .owl-nav {
        .owl-next {
          top: 230px !important;
          right: -8px !important;
        }
        .owl-prev {
          top: 230px !important;
          left: 8px !important;
        }
      }
    }
  }

  // category start
  #category {
    .fashion-categories {
      .fashion-category {
        .category-content {
          .item {
            .category-product {
              a {
                h3 {
                  padding: 0px !important;
                  font-size: 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // customer start
  #customer {
    .testimonial-detail {
      width: 100% !important;
    }
    .owl-nav {
      .owl-next {
        top: 230px !important;
        right: -8px !important;
      }
      .owl-prev {
        top: 230px !important;
        left: 8px !important;
      }
    }
  }

  // info start
  #info {
    .info-content {
      margin-top: 50px !important;
    }
  }

  // brand start
  #brand {
    .item {
      width: 120px !important;
      padding-right: 18px !important;
    }
    .owl-nav {
      .owl-next {
        top: -20px !important;
        right: -80px !important;
      }
      .owl-prev {
        top: -20px !important;
        left: -80px !important;
      }
    }
  }

  // product single start
  #product-single {
    position: relative !important;
    .product-sync-init {
      .single-product {
        .product-thumb {
          img {
            height: 400px !important;
          }
        }
      }
    }
    .product-sync-nav {
      .single-product {
        .product-thumb {
          .img-fill {
            display: none !important;
          }
        }
      }
    }
    .next {
      display: block !important;
      top: -228px !important;
      left: 0 !important;
      height: 65px !important;
      &:focus {
        outline: none;
      }
    }
    .prev {
      display: block !important;
      top: -228px !important;
      right: 0 !important;
      height: 65px !important;
      &:focus {
        outline: none;
      }
    }
    .slick-dots {
      .slick-active {
        background-color: $main-color !important;
        &:focus,
        :active,
        :hover {
          outline: none !important;
        }
      }
      li {
        margin: 0 5px !important;
        height: 16px !important;
        width: 16px !important;
        border-radius: 50% !important;
        background: transparent !important;
        border: 2px solid #e9e9e9 !important;
        text-align: center !important;
      }
    }
    .product-text {
      .product-title {
        h1 {
          font-size: 15px !important;
        }
        .product-start {
          .rating-wrap {
            padding: 0px 5px !important;
            span {
              font-size: 11px !important;
            }
          }
        }
      }
      .add-to-cart {
        form {
          .single_add_to_cart_button {
            position: fixed !important;
            bottom: 1px !important;
            left: -9px !important;
            z-index: 100;
            width: 50% !important;
            padding: 20px 45px !important;
          }
          .single_buy_now_button {
            display: block !important;
            position: fixed !important;
            bottom: 1px !important;
            right: 0 !important;
            z-index: 100;
            width: 50% !important;
            padding: 20px 45px !important;
          }
        }
      }
    }
  }

  // product info start
  #product-info {
    .accordition {
      .card {
        .card-header {
          padding-left: 0 !important;
          h5 {
            a {
              font-size: 16px !important;
              font-weight: 600 !important;
              text-transform: uppercase !important;
            }
            .review {
              margin-bottom: 150px !important;
            }
          }
        }
        .collapse {
          .card-body {
            padding: 0 1.25rem !important;
            .text {
              p {
                margin-top: 10px !important;
              }
            }
            .rating {
              position: relative !important;
              margin-bottom: 100px !important;
              .rating-star {
                position: absolute !important;
                top: 10px !important;
                left: 0 !important;
              }
              .rating-histogram {
                position: absolute !important;
                top: 65px !important;
                left: -70px !important;
              }
            }
            .review-form {
              margin-top: 90px !important;
              margin-bottom: 30px !important;
              padding-left: 0px !important;
              margin-left: 0px !important;
            }
          }
        }
      }
    }
  }

  // related product start
  #related-product {
    .owl-nav {
      .owl-next {
        opacity: 0 !important;
        visibility: hidden !important;
      }
      .owl-prev {
        opacity: 0 !important;
        visibility: hidden !important;
      }
    }
  }

  // footer copyright start
  #footer-copyright {
    padding-bottom: 20% !important;
    .copyright-text {
      margin-bottom: 20px !important;
    }
  }

  // title page start
  #title-page {
    .entry-header {
      h1 {
        font-size: 36px !important;
      }
    }
  }

  // main page start
  #main-page {
    .product-categories {
      .categories-items {
        .category-item {
          a {
            i {
              right: 10px !important;
            }
          }
        }
      }
    }
    .product-header {
      margin-top: 40px !important;
    }
    .item {
      .product-group {
        .product-item {
          .product-img {
            .product-featured {
              span {
                padding: 1px 2px !important;
              }
            }
            .product-button {
              right: -7px !important;
              top: -7px !important;
            }
          }
          .product-text {
            .product-price {
              .price {
                span {
                  font-size: 13px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // login start
  #login {
    .main-content {
      .login-signin {
        .customer-login {
          flex-wrap: wrap !important;
          .login-right {
            form {
              .form-group {
                a {
                  margin-left: 8% !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // register start
  #register {
    .main-content {
      .register-signup {
        .customer-register {
          flex-wrap: wrap !important;
        }
      }
    }
  }

  // wishlist start
  #wihslist {
    .title-page {
      h1 {
        font-size: 36px !important;
      }
    }
    .main-content {
      form {
        .wishlist-table {
          display: none !important;
        }
        ul {
          display: block !important;
        }
      }
    }
  }

  // cartlist start
  #cartlist {
    .title-page {
      h1 {
        font-size: 36px !important;
      }
    }
    .main-content {
      .cartlist-table {
        display: none !important;
      }
      ul {
        display: block !important;
        li{
          .product-remove{
            top: 20px !important;
            right: 7% !important;
          }
          .minus-product{
            right: 11% !important;
          }
          .plus-product{
            right: 3% !important;
          }  
        }
      }
      .cart-collaterals{
         .cart-totals{
            float: left !important;
            width: 300px !important;
        } 
      }
    }
  }
}
