// wishlist start
#wihslist {
    .title-page {
        padding: 10px 0;
        background-color: #f8f8f8;
        text-align: center;
        h1 {
            font-size: 60px;
            line-height: 1.2;
            color: #333;
            text-transform: inherit;
            font-weight: 700;
            font-style: normal;
        }
    }
    .main-content {
        padding-bottom: 38px;
        padding-top: 38px;
        form {
            table {
                font-size: 100%;
                margin: 0 -1px 24px 0;
                text-align: left;
                width: 100%;
                border-collapse: separate;
                thead {
                    tr {
                        th {
                            padding: 9px 12px;
                            color: #333;
                            text-align: left;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                }
                tbody {
                    tr {
                        .product-remove {
                            border-top-width: 1px;
                            border-top-style: solid;
                            border-top-color: #e9e9e9;
                            padding: 8px 12px;
                            vertical-align: middle;
                            text-align: inherit;
                            a {
                                width: 20px;
                                height: 20px;
                                text-decoration: none;
                                text-align: center;
                                line-height: 1;
                                border-radius: 100%;
                                i {
                                    color: red;
                                }
                            }
                        }
                        .product-thumbnail {
                            border-top-width: 1px;
                            border-top-style: solid;
                            border-top-color: #e9e9e9;
                            padding: 8px 12px;
                            vertical-align: middle;
                            text-align: inherit;
                            a {
                                img {
                                    max-width: 80px;
                                    width: inherit;
                                    height: auto;
                                    border-style: none;
                                    vertical-align: middle;
                                }
                            }
                        }
                        .product-name {
                            border-top-width: 1px;
                            border-top-style: solid;
                            border-top-color: #e9e9e9;
                            padding: 8px 12px;
                            vertical-align: middle;
                            text-align: inherit;
                            font-weight: 600;
                            a {
                                color: #333;
                                text-decoration: none;
                                @include transition(all 0.5s ease-out);
                                &:hover {
                                    color: $main-color;
                                    @include transition(all 0.5s ease-out);
                                }
                            }
                        }
                        .product-price {
                            border-top-width: 1px;
                            border-top-style: solid;
                            border-top-color: #e9e9e9;
                            padding: 8px 12px;
                            vertical-align: middle;
                            text-align: inherit;
                            span {
                                color: $main-color;
                                font-weight: 600;
                                font-size: 16px;
                            }
                        }
                        .product-stock-status {
                            border-top-width: 1px;
                            border-top-style: solid;
                            border-top-color: #e9e9e9;
                            padding: 8px 12px;
                            vertical-align: middle;
                            text-align: inherit;
                        }
                        .product-add-to-cart {
                            border-top-width: 1px;
                            border-top-style: solid;
                            border-top-color: #e9e9e9;
                            padding: 8px 12px;
                            vertical-align: middle;
                            text-align: right;
                            a {
                                background-color: $main-color;
                                color: #ffff;
                                border-radius: 0;
                                display: inline-block;
                                font-size: 14px;
                                line-height: 16px;
                                text-decoration: none;
                                margin: 0;
                                padding: 10px 14px;
                                box-shadow: 0 0 10px #cccccc;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                    border-bottom-color: #e9e9e9;
                    border: 0;
                    display: block;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    padding-left: 112px;
                    position: relative;
                    .item-wrapper {
                        display: flex;
                        flex-direction: row;
                        .product-thumbnail {
                            flex: 1 1 100%;
                            position: absolute;
                            left: 0;
                            a {
                                text-decoration: none;
                                img {
                                    max-width: 98px;
                                    height: auto;
                                    border-style: none;
                                    vertical-align: middle;
                                }
                            }
                        }
                        .item-details {
                            flex: 1 1 100%;
                            .product-name {
                                h3 {
                                    font-size: 14px;
                                    margin-bottom: 0.7em;
                                    margin-right: 2em;
                                    text-transform: inherit;
                                    font-weight: 700;
                                    font-style: normal;
                                    a {
                                        color: #333;
                                        text-decoration: none;
                                        @include transition(all 0.5s ease-out);
                                        &:hover {
                                            color: $main-color;
                                            @include transition(all 0.5s ease-out);
                                        }
                                    }
                                }
                            }
                            .item-details-table {
                                margin-bottom: 0;
                                border-collapse: collapse;
                                margin: 0 0 1.5em;
                                width: 100%;
                                tbody {
                                    tr {
                                        border: 0;
                                        .label {
                                            text-transform: uppercase;
                                            font-size: 11px;
                                            font-weight: 600;
                                            padding: 2px 0;
                                            border: 0;
                                            text-align: inherit;
                                        }
                                        .value {
                                            text-align: right;
                                            font-weight: 600;
                                            padding: 2px 0;
                                            border: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .additional-info-wrapper {
                        .additional-info {
                            margin-bottom: 0;
                            border-collapse: collapse;
                            margin: 0 0 1.5em;
                            width: 100%;
                            tbody {
                                tr {
                                    border: 0;
                                    .label {
                                        text-transform: uppercase;
                                        font-size: 11px;
                                        font-weight: 600;
                                        padding: 2px 0;
                                        border: 0;
                                        text-align: inherit;
                                    }
                                    .value {
                                        text-align: right;
                                        font-weight: 600;
                                        padding: 2px 0;
                                        border: 0;
                                    }
                                }
                            }
                        }
                        .product-add-to-cart{
                            margin-top: .7em;
                           a{
                            background-color: $main-color;
                            color: #ffff;
                            font-size: 12px;
                            padding: 8px 14px;
                            float: none;
                            font-weight: 600;
                            line-height: 18px;
                            text-transform: uppercase;
                            text-decoration: none;
                            box-shadow: 0 0 10px #cccccc;
                           } 
                        }
                        .product-remove{
                            position: absolute;
                            top: -3px;
                            right: 0;
                            a{
                                text-decoration: none;
                                color: #333;
                                i{
                                    font-size: 17px;
                                    text-align: center;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
